$backgroundColor: #d3d3d3;
$fontBranca: #d3d3d3;
$botoes: #f9f9f9;
$azulEscuro: #4990e3;
$azulClaro: #a9c8f7;
$verde: #00ae9c;

$links: #0063ff;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: $links;
}

// reset tamanho da fonte
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

/* Layout do nome, background, circulos e efeitos de glassmorphismo */

body {
  width: 100vw;
  height: 100vh;
  background-color: $backgroundColor;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Meera Inimai", sans-serif;
}

header {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;

  color: $fontBranca;
  background-color: $azulEscuro;
  width: 100vw;
  height: 7rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 50% 50% 50% 50% / 0% 0% 20% 20%;

  img {
    width: 5rem;
    height: 5rem;

    border-radius: 5rem;
    border: 1px solid $azulClaro;

    padding: 0.1rem;
  }

  #perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

nav {
  width: 100vw;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  #redeSocial {
    width: 90vw;

    display: flex;
    justify-content: space-around;
  }
}

main {
  width: 100vw;
  margin-top: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;

  section {
    display: grid;
    justify-items: center;
    align-content: center;

    a {
      width: 9rem;
      height: 9rem;
      border-radius: 0.75rem;
      background-color: $botoes;
      box-shadow: 5px 5px 20px -7px #a9c8f7;

      text-align: center;
      font-weight: 600;
      color: $links;

      display: grid;
      justify-items: center;
      align-content: center;
      row-gap: 0.25rem;

      .container {
        width: 90%;
      }
    }
  }
}

footer {
  margin-top: 1.5rem;
  height: 5rem;
  background-color: $verde;
}
