@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #0063ff;
}

h2 {
  font-size: 1.5rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

/* CSS começa aqui */
body {
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Meera Inimai", sans-serif;
}

header {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #d3d3d3;
  background-color: #4990e3;
  width: 100vw;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 50% 50% 50% 50% / 0% 0% 20% 20%;
}

header img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  border: 1px solid #a9c8f7;
  padding: 0.1rem;
}

header #perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 100vw;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #redeSocial {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main {
  width: 100vw;
  min-height: 20.1rem;
  margin-top: 2rem;
}

main #containerPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2rem;
}

main #containerPrincipal section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main #containerPrincipal section a {
  width: 9rem;
  height: 9rem;
  border-radius: 0.75rem;
  background-color: #f9f9f9;
  -webkit-box-shadow: 5px 5px 20px -7px #a9c8f7;
          box-shadow: 5px 5px 20px -7px #a9c8f7;
  text-align: center;
  font-weight: 600;
  color: #0063ff;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 0.25rem;
}

main #containerPrincipal section a .container {
  pointer-events: none;
  width: 90%;
  min-height: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  justify-items: center;
}

main .containerSecundario {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #4990e3), color-stop(10%, #a9c8f7));
  background: linear-gradient(90deg, #4990e3 10%, #a9c8f7 10%);
  display: -ms-grid;
  display: grid;
  justify-items: right;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: .25rem;
  width: 100vw;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

main .containerSecundario section {
  width: 88%;
  min-height: 13rem;
}

main .containerSecundario section .descricoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

main .containerSecundario section .descricoes .branco {
  color: #f9f9f9;
}

main .containerSecundario section .descricoes .azul {
  color: #0063ff;
  text-align: right;
}

.displayNone {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  height: 5rem;
  background-color: #00ae9c;
  color: #f9f9f9;
}

footer h2 {
  margin-left: 1rem;
  font-size: 1.15rem;
}

footer .topo {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1.5rem 1rem;
  background-color: #4990e3;
}
/*# sourceMappingURL=style.css.map */